.feynman__title {
  width: 648px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: 600;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0 auto;
}
