.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  font-family: "Inter", "Arial", sans-serif;
  z-index: 10;
  align-self: center;
}
